.gradient-background {
     background: linear-gradient(-100deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
       animation: gradient 6s ease-in-out infinite; 
        background-size: 400% 400%;
        height: auto;
        
    
  }
 
  @keyframes gradient{
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
       background-position: 0% 50%;
    }
  }

.qw{
    color:rgb(123, 0, 255);
    font-size: 40px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
          
  }

img{
    border-radius: 10px;
    width: 270px;
    height: 320px;
    box-shadow:10px 40px;

    
  }
  .im{
    border-radius: 10px;
    width: 270px;
    height: 320px;
    box-shadow:10px 40px;
    margin-left: 10px;
    
    
  }

  .text{
    color:rgb(250, 245, 247);
   margin-top: -8px;
   margin-left: 30px;
   font-size: 40px;
  }
  
  .list{
    color:rgb(250, 245, 247);
   margin-top: -8px;
   margin-left: 30px;
   font-size: 40px;
  }